 
{% load staticfiles %}
   <html>
        <head>
            <title>AM - Art of Memory</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/AMGallery.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </head>


        <body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1338633912818030',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  </script>
<!--
<div class="page-header">
    <h1><a href="/">art of memory</a></h1>
</div>
-->
<nav class="navbar navbar">
  <div class="navbar-inner">
    <ul class="nav navbar-nav navbar-left">
        <li class="trend"><a href="#">User Trend</a></li>       
        <li class="trend"><a href="#">Dreamer Trend</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-center" style="margin-left:24%; margin-top:4%;">
        <li id="gall"><a href="/source/">Source</a></li> 
        <li id="logo"><a href="/#"><strong>로고자리</strong></a></li>     
        <li id="source"><a href="/gallery/">Output</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/">admin</a></li>
      <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="/accounts/signup/"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
    </ul>
  </div>
</nav>


 <div class="content container">
   <div class="row">
    <div class="col-md-8">
           {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<a href="http://plus.kakao.com/home/mu94n7z4">AM 카카오톡</a>


</body>
    </html>
