{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.created_date }}
            </div>
        {% endif %}
<a class="btn btn-default" href="{% url 'work_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <img src = "/gallery/{{MEDIA_URL}}{{post.image}}" alt = "picture">
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}