{% extends 'base.html' %}
{% load staticfiles %}

   <html>
        <head>
            <title>moto</title>
}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/AMGallery.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        </head>



        <body>

{% block content %}
{% for post in works %}
<div class="post">

    <img src = "{{MEDIA_URL}}{{post.image}}" alt = "AMGallery work">
    {{post.image}}
    <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
    <p>{{ post.text|linebreaksbr }}</p>
    <p>published: {{ post.created_date }}</p>
</div>
{% endfor %}
{% endblock content %}
        </body>
    </html>
